# Data Science Tools and Ecosystem

In this notebook I will summarize  Data Science Tools and Ecosystem

**Objectives**
+ popular lenguages for data scientists
+ common libraries
+ data science tools
+ arithmetic expressions in python

to start, some of the most popular lenguages for data scientists are:
1. Python
2. R
3. SQL

Some of the most common libraries used by data scientists include:
1. dplyr
2. ggplot
3. Caret

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|Visual studio code|

### Here are a few examples for evaluating arithmetic expressions in Python

this is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author

Santiago Tobon Cardona